.order-bg {
   margin: auto;
   margin-top: 100px;
   width: 70%;
   border: 5px solid #ffffff;
   background-color: rgba(18, 79, 192, 0.25);
   padding: auto;
   border-radius: 20px;
}

#orders-btn {
   margin-bottom: 10px;
}

.order-main-bg {
   /* background-image: url("https://images.pexels.com/photos/2387818/pexels-photo-2387818.jpeg?cs=srgb&dl=pexels-adrien-olichon-2387818.jpg&fm=jpg://wallpaperset.com/w/full/c/4/8/45474.jpg"); */
   /* background: #282828;
    background: linear-gradient(135deg, #282828, #070707); */
   background: #474747;
   background: linear-gradient(135deg, #474747, #161616);
   background-size: cover;
   height: 100vh;
}
